#應用 a13 樣板自動產生(Version:4)
      ${mdl_mark01} , ${mdl_field01} = g_user 
      ${mdl_mark02} , ${mdl_field02} = g_dept
      ${mdl_mark03} , ${mdl_field03} = g_user
      ${mdl_mark04} , ${mdl_field04} = g_dept 
      ${mdl_mark05} , ${mdl_field05} = ld_date
      ${mdl_mark06} , ${mdl_field06} = g_user
      ${mdl_mark07} , ${mdl_field07} = ld_date
      #${mdl_mark12}, ${mdl_field12} = "Y" 

