#應用 qs03 樣板自動產生(Version:3)
   # 若有做串查功能，在CONSTRUCT後，需先將顯示欄位開啟、查詢欄位隱藏
   CALL gfrm_curr.setFieldHidden('${detail_hyper_aft_form_field_true1}', TRUE)
   CALL gfrm_curr.setFieldHidden('${detail_hyper_aft_form_field_false1}', FALSE)
   #hyperlink - Start -
   CALL gfrm_curr.setFieldHidden('${detail_hyper_aft_form_field_true${hyper_field_count_all}}', TRUE)
   CALL gfrm_curr.setFieldHidden('${detail_hyper_aft_form_field_false${hyper_field_count_all}}', FALSE)
   #hyperlink -  End  -
 

