   #應用 a44 樣板自動產生(Version:5)
         MENU "" ATTRIBUTE(STYLE="popup")
            #add-point:ON ACTION ${mdl_menu_name}相關動作 name="${mdl_action_loc}.${mdl_menu_name}"
            {<point name="${mdl_action_loc}.${mdl_menu_name}" mark="Y"/>}
            #END add-point
            ${mdl_action_call}
         END MENU

