[main]
Description=group.syst.vpn.employe.cn.users
Host=118.242.26.115
AuthType=1
GroupName=group.syst.vpn.employe.cn.users
GroupPwd=
enc_GroupPwd=D293258EF2871F2A970B9DDC8C71075A859B53617DB0EF6B63A42A16F6FBEBC702F7BA4865C4ED03AA57699F2AA4C074481C018A5AE19466923D008AC5B17BE0
EnableISPConnect=0
ISPConnectType=0
ISPConnect=JINS-IDC-pptp
ISPPhonebook=C:\Users\zhao.tao\AppData\Roaming\Microsoft\Network\Connections\Pbk\rasphone.pbk
ISPCommand=
Username=roy.c.zhao@consultant.husqvarnagroup.com
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=1
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=1
