#應用 qs25 樣板自動產生(Version:3)
         #+ 產生串查功能傳入參數部分
         #hyperlink_mdls - Start -
         LET la_param.param[${mdls}] = ${${detail_hyper_field${hyper_field_count_all}}_para${mdls}}
         #hyperlink_mdls -  End  -
 

