#應用 qs02 樣板自動產生(Version:3)
   # 若有做串查功能，在CONSTRUCT前，需先將查詢欄位開啟、顯示欄位隱藏
   CALL gfrm_curr.setFieldHidden('${detail_hyper_bef_form_field_true1}', TRUE)
   CALL gfrm_curr.setFieldHidden('${detail_hyper_bef_form_field_false1}', FALSE)
   #hyperlink - Start -
   CALL gfrm_curr.setFieldHidden('${detail_hyper_bef_form_field_true${hyper_field_count_all}}', TRUE)
   CALL gfrm_curr.setFieldHidden('${detail_hyper_bef_form_field_false${hyper_field_count_all}}', FALSE)
   #hyperlink -  End  -
 

