#應用 qs06 樣板自動產生(Version:3)
   #+ b_fill段CURSOR釋放
   CLOSE b_fill_curs
   FREE ${general_prefix}_pb
   #tables - Start -
   CLOSE b_fill_curs${table}
   FREE ${general_prefix}_pb${table}
   #tables -  End  -
 

