{<section id="${app_id}.description" >}
#應用 a00 樣板自動產生(Version:3)
#+ Standard Version.....: SD版次:${general_adp_ver}(${mdl_modify_time}), PR版次:
#+ Customerized Version.: SD版次:${general_adp_ver_cust}(${mdl_modify_time_cust}), PR版次:
#+ Build......: ${mdl_buildtime}
#+ Filename...: ${mdl_filename}
#+ Description: ${mdl_desc}
#+ Creator....: ${mdl_creator}(${mdl_create_time})
#+ Modifier...: ${mdl_modifier} -SD/PR-
{</section>}

