#應用 a54 樣板自動產生(Version:3)
DEFINE g_browser_expand   DYNAMIC ARRAY OF RECORD                   #資料瀏覽之欄位  
      b_${master_field_type} STRING
      ${master_type_mark2},b_${master_field_type2} STRING
      ${master_type_mark3},b_${master_field_type3} STRING
      ${master_type_mark4},b_${master_field_type4} STRING
      ${master_type_mark5},b_${master_field_type5} STRING
      ${master_type_mark6},b_${master_field_type6} STRING
      END RECORD 
 

