#應用 a14 樣板自動產生(Version:5)    
      #公用欄位新增給值  
      ${mdl_mark01}LET ${mdl_var01} = g_user
      ${mdl_mark02}LET ${mdl_var02} = g_dept
      ${mdl_mark03}LET ${mdl_var03} = g_user
      ${mdl_mark04}LET ${mdl_var04} = g_dept 
      ${mdl_mark05}LET ${mdl_var05} = cl_get_current()
      ${mdl_mark06}LET ${mdl_var06} = g_user
      ${mdl_mark07}LET ${mdl_var07} = cl_get_current()
      ${mdl_mark12}${mdl_default_mark}LET ${mdl_var12} = '${mdl_default_stus}'

