#應用 a59 樣板自動產生(Version:3)  
               CALL g_curr_diag.setCurrentRow("${sr_name}",1)
               #pages - Start -
               CALL g_curr_diag.setCurrentRow("${sr_name${page}}",1)
               #pages -  End  -

