         #應用 a04 樣板自動產生(Version:3)
         ON CHANGE ${mdl_column}
            #add-point:ON CHANGE ${mdl_column} name="${mdl_point}"
            {<point name="${mdl_point}" />}
            #END add-point 

