#應用 qs10 樣板自動產生(Version:3)
   #+ b_fill段其他table資料取得(包含sql組成及資料填充)
   #tables - Start -
   #add-point:b_fill段資料填充${table} name="b_fill.sql${table}"
   {<point name="b_fill.sql${table}"/>}
   #end add-point
 
   #add-point:b_fill段資料填充${table} name="b_fill.for_loop${table}"
   {<point name="b_fill.for_loop${table}"/>}
   #end add-point
   #tables -  End  -
 

